{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": ["airbnb-base", "plugin:vue/recommended"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".vue"]
      }
    }
  },
  "rules": {
    "implicit-arrow-linebreak": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": ["error", { "allow": ["_cellVariants"] }]
  },
  "globals": {
    "CONFIG": "readonly"
  }
}
